<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <style>
    .container {
      width: 1000px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    .item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .date {
      background-color: pink;
      display: flex;
      align-items: center;
      padding: 10px;
    }
    .date1 {
      background-color: rgb(131, 247, 206);
      display: flex;
      align-items: center;
      padding: 10px;
    }

    .con {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border: 1px solid black;
      border-top: 0;
      padding: 10px;
    }
  </style>
  <body>
    <div class="container">
      <h1>记账本</h1>
      <div class="item">
        <div class="date">2023-04-05</div>
        <div class="con">
          <div class="sen">抽烟只抽煊赫门</div>
          <div class="text">支出</div>
          <div class="money">25元</div>
        </div>
      </div>
      <div class="item">
        <div class="date1">2023-04-05</div>
        <div class="con">
          <div class="sen">3月份发工资</div>
          <div class="text">收入</div>
          <div class="money">4396元</div>
        </div>
      </div>
    </div>
  </body>
</html>
