<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .success {
      width: 500px;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: pink;
      margin: 0 auto;
      font-size: 50px;
    }
  </style>
  <body>
    <div class="success"><div>添加成功</div>
   <div><button><a href="/account">点击跳转</button></div></div>
  </body>
</html>
